.section-title {
    text-align: center;
    h1, h2, h3, h4 {
        font-family: "Spectral", sans-serif;
        color: #d95228;
    }

    h2 {
        font-size: 60px;
        line-height: 60px;
    }
}