.two-column {
    width: 100%;
    text-align: center;

    border-top: 1px solid $section-border;

    .two-column__wrapper {
        display: flex;
        flex-direction: row-reverse;

        &.image-left {
            flex-direction: row;
            
            .image {
                padding-right: 20px;
            }
        }
        &.image-right {
            .image {
                padding-left: 20px;
            }
        }
        max-width: $content-width;

        margin: auto;
        padding: 5%;

        .content {
            width: 65%;
            text-align: left;
        }

        .image {
            width: 35%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    // responsive
    @media only screen and (max-width: 767px) {
        .two-column__wrapper {
            flex-direction: column;
            &.image-left {
                flex-direction: column;    
            }
            
            &.image-right, &.image-left {
                .image {
                    padding-right: 0;
                    padding-left: 0;
                }
            }

            .content, .image {
                width: 100%;
            }

            .content {
                padding: 5vh 0 0;
            }

            text-align: center;
        }
    }
}
