#masthead ul.sub-menu {
    position: absolute;
    left: 0;
    
    width: 100%;
    background-color: $dorange;

    display: none;

    li {
        a {
            font-size: 1em;
            font-weight: 500;
            border-bottom: 0px;
            color: $orange;

            &:hover {
                color: white;
            }
        }
    }
}

li.menu-item-has-children:hover, li.menu-item-has-children.current-menu-item, li.menu-item-has-children.current-page-parent {
    ul.sub-menu 
    {
        display: block !important;
    }
}

#masthead ul.sub-menu li.current_page_item a {
    color: white;
}