/* colours */

$text: #737373;
$blue: #00F;

$orange:#d95228;
$dorange:#a0300e;

$brown: #f6f5ec;

$asap: 'Asap', sans-serif;
$spec: 'Spectral', sans-serif;

/* font sizes */
$base-font-size: 18px;

/* widths */