.planning-development {
    .bg-section {
        padding: 25vh 0;

        .container {
            text-align: center;
            width: 50%;

            h3 {
                color: white;
                font-weight: 500;
                letter-spacing: 5px;
                line-height: 30px;
            }

            .f-left {
                float: none;
                margin: 0 auto;
            }
        }
        
    }

    .housing-footer {
        text-align: right;
        padding: 5vh 0 0;
        img {
            width: 40%;
            height: auto;
        }
    }
}